svg{
    /* height:100vh; */
}
.title-cube {
    background:rgb(206, 231, 231);
    margin: 0 auto;
    display: block;
    transition: 1s;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
    opacity: 0;
    width: 0%;
    transform: translateX(20%)
  }
  .title-cube.show {
    opacity:1;
    width: 100%;
    transform: translateX(60%);
    text-align: left;
    padding-left: 10px;
  }

#smallSquare{
    fill:paleturquoise;
}


#mediumSquare{
    fill:gray;
}

#largeSquare{
    fill: teal;
}

.start{
    width: 80%;
    transform: translateY(120%);
    transform: rotate(45deg);
    transition: 5s;
}

.start.end{
    width: 100%;
    transform: translateX(-50%);
}

#imagesequence {
    background-color: #F0E6CD;
}

.buffer {
    /* Start of pin and end of pin messages */
    text-align: center;
    font-size: 40px;
    color: black;
    padding: 100px;
}

#myimg {
    /* negative margin to push the div higher */
    margin-top: -25vh; 
}

.container{height: 100vh;
background-color: #354753;}
.landing{height:100vh;
text-align: center;
background-color:#F0E6CD; 
}
.title{
    font-size: 30pt;
    font-family: 'Merriweather', serif;
    color: #354753
    }
.titleOne{font-size: 75pt;
    font-family: 'Oswald', sans-serif;
    padding-right: 300pt;
    ;
    top:200;
    color: #354753;
    z-index: 
   
}
.titleTwo{font-size: 75pt;
    font-family: 'Oswald', sans-serif;
    padding-left: 200pt;
    padding-top: 50pt;
    color: #E86355;
}

.sectionThree{height: 100vh;}
.Use{text-align: center;
padding-top: 200pt;
font-family: 'Oswald', sans-serif;
font-size: 50pt;
z-index: 100;}

a{text-decoration: none;
color: #F0E6CD}
a:visited{text-decoration: none;}

